*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: hotpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 30%;
        margin-left: 20px;
    }
}
nav .links{
    width: 70%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.products{
    display: flex;
    gap: 20px;
}

.card{
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}